<html lang="en" >
  <head>
    <base href="/" />
    <title>GHA Capstone</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/angular-aria/angular-aria.js"></script>
    <script src="/angular-messages/angular-messages.min.js"></script>
    <script src="/sb2.js"></script> <!-- startbootstrap theme js -->
    <script src="/main.js"></script>

  </head>

  <body ng-app="FullstackGeneratedApp" ng-cloak>

    <sidenav></sidenav> <!-- browser -> js -> common -> directives -> sidenav -->

    <h1>Some placeholder text</h1>
    <div id="main" ui-view></div>

  </body>
</html>