<!DOCTYPE html>
<html lang="en" >
    <head>
        <base href="/" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GHA Capstone</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="/style.css" />

        <script src="/lodash/index.js"></script>
        <script src="/angular/angular.js"></script>
        <script src="/angular-animate/angular-animate.js"></script>
        <script src="/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
        <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/socket.io-client/socket.io.js"></script>
        <script src="/angular-aria/angular-aria.js"></script>
        <script src="/angular-messages/angular-messages.min.js"></script>
        <script src="/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>        
        <script src="/metisMenu.min.js"></script> 
        <!-- startbootstrap theme js -->
        <script src="/sb2.js"></script>
        <script src="http://blackrockdigital.github.io/startbootstrap-sb-admin-2/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->        

    </head>

    <body id="wrapper" ng-app="FullstackGeneratedApp">
        <navbar></navbar>
        <div id="main" ui-view></div>

</body>
</html>