<!-- <div class="panel-footer">
				<div>
					<h4>Tags: </h4>
					<ul class="nav nav-pills">
						<li ng-repeat="tag in currentNote().tags">
							{{tag}} <i class="glyphicon glyphicon-remove" ng-click="removeTag(currentNote(), tag)"></i>
						</li>
					</ul>
				</div>
					
			    <form ng-submit="addTag(currentNote(), tagToAdd)">
						<div class="input-group"> 
							<input ng-model="tagToAdd" type="text" class="form-control" placeholder="Add a tag"> 
							<span ng-click="addTag(currentNote(), tagToAdd)" class="input-group-addon">+</span> 
						</div>
				</form>	

</div> -->
