<div class="col-sm-12" ng-class="singleNoteColumnWidth()">
	<div class="alert alert-success" role="alert" ng-if="successmessage">{{successmessage}}</div>
	<div class="alert alert-error" role="alert" ng-if="errormessage">{{errormessage}}</div>
	<ul class="nav nav-tabs">
	  <li id="preview-tab" role="presentation" class="active"><a href="#preview" data-toggle="tab">Preview</a></li>
	  <li id="edit-tab" role="presentation"><a href="#edit" data-toggle="tab" ng-hide="currentNote().trash === true">Edit</a></li>
	</ul>

	<div class="tab-content">
		<span ng-if="currentNote().trash" class="muted pull-right"><i title="Note is in trash" class="glyphicon glyphicon-trash"></i></span>
		<span class="muted small pull-right">Notebook: {{getCurrentNotebook().title}}</span>
		<span class="muted small pull-right">Last updated: {{currentNote().lastUpdate | date : 'shortDate'}}</span>
		<div class="tab-pane fade in active" id="preview">
<!-- 			<h2>Preview Note</h2> -->
			<div id="markdown-wrapper" class="panel panel-default">
				<div class="panel-body" tabindex=0  enter-key="runTonic()">
				<!-- <div class="panel-body" contenteditable enter-key="runTonic()"> -->
					<h2>{{currentNote().subject}}</h2>
					<div  marked="currentNote().body">
					</div>
				</div>
			</div>
			<p class="muted"><em>To run code, highlight text and press Ctrl-Enter</em></p>			
		</div> <!-- end .tab-pane #preview -->
        <button ng-click="deleteNote(currentNote())" ng-show="currentNote().trash" type="button" class="btn btn-danger"  data-toggle="tooltip" title="Delete note">
			Delete Forever
		</button>
        <button ng-click="restoreNote(currentNote()._id)" ng-show="currentNote().trash" type="button" class="btn btn-success"  data-toggle="tooltip" title="Restore note">
			Restore Note from Trash
		</button>

		<div class="tab-pane fade" id="edit" ng-hide="currentNote().trash">

<!-- 			<h2>Edit Note</h2> -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<label for="notesubject" class="muted">Note title</label> 
					<input ng-model="currentNote().subject" class="form-control" id="notesubject" placeholder="{{currentNote().subject}}">
				</div>

				<div class="panel-body">
					<textarea enter-key="runTonic()" rows="20" id="notebody" ng-model="currentNote().body" placeholder="{{currentNote().body}}" class="form-control" >
					</textarea>
					<p class="muted"><em>To run code, highlight text and press Ctrl-Enter</em></p>
				</div>

				<div class="alert alert-success" role="alert" ng-if="tagsavesuccess">{{tagsavesuccess}}</div>

				<div class="alert alert-danger" role="alert" ng-if="tagsavefailure && !tagsavesuccess">{{tagsavefailure}}</div>
				<div class="panel-footer">
				<div>
					<h4>Tags: </h4>
					<ul class="nav nav-pills">
						<li ng-repeat="tag in currentNote().tags">
							{{tag}} <i class="glyphicon glyphicon-remove" ng-click="removeTag(currentNote(), tag)"></i>
						</li>
					</ul>
				</div>
					
			    <form ng-submit="addTag(currentNote(), tagToAdd)">
						<div class="input-group"> 
							<input ng-model="tagToAdd" type="text" class="form-control" placeholder="Add a tag"> 
							<span ng-click="addTag(currentNote(), tagToAdd)" class="input-group-addon">+</span> 
						</div>
				</form>	

</div>
				 <!-- <tagfooter></tagfooter> -->
				<div class="panel-body">
					<!-- <button class="btn btn-primary" ng-click="save()">Save Changes</button>
					<button ng-if="tonic" class="btn btn-primary" ng-click="runTonic()">Open Code Window</button>
					<button ng-if="!tonic" class="btn btn-primary" ng-click="closeTonic()">Close Code Window</button>
					<button data-toggle="modal" data-target="#trashNote{{currentNote()._id}}" ng-show="!currentNote().trash" type="button" class="btn btn-danger"  data-toggle="tooltip" title="Delete note">
						 Trash Note
					</button>
					<button ng-click="createGist(currentNote())" type="button" class="btn btn-success"  data-toggle="tooltip" title="Create gist">
						Create a Gist
					</button> -->
	
					<i class="fa fa-save" ng-click="save()"></i>

					<button ng-if="tonic" class="btn btn-primary" ng-click="runTonic()">Open Code Window</button>
					<button ng-if="!tonic" class="btn btn-primary" ng-click="closeTonic()">Close Code Window</button>
					<button data-toggle="modal" data-target="#trashNote{{currentNote()._id}}" ng-show="!currentNote().trash" type="button" class="btn btn-danger"  data-toggle="tooltip" title="Delete note">
						 Trash Note
					</button>
					<button ng-click="createGist(currentNote())" type="button" class="btn btn-success"  data-toggle="tooltip" title="Create gist">
						Create a Gist
					</button>
				</div>


				<!-- Delete Popup -->
				<div id="trashNote{{currentNote()._id}}" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Share Popup content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				      </div>
				      <div class="modal-body">

						<div class="input-group" id="delete-note-confirmation"> 
					        <h4 class="modal-title">Are you sure you want to delete this note?</h4>
							<span ng-click="trashNote(currentNote()._id)" class="btn btn-danger" data-dismiss="modal">Delete</span> 
							<span class="btn btn-success" data-dismiss="modal">Cancel</span> 
						</div>


				      </div>
				<!--       <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div> -->
				    </div>
				  </div>
				</div>
				<!-- Closing Delete Popup -->




			</div>
		</div> <!-- end .tab-pane #edit -->
	</div> <!-- end .tab-content -->

</div> <!-- end column -->

<div ng-hide="tonic" ng-class="{'col-lg-5 col-md-5 col-sm-5' : !isSideNavOpen(), 'col-lg-3 col-md-3 col-sm-3' : isSideNavOpen()}">
	<div id="my-element"></div>
</div> 

