<div class="container">
  <h1>Search Coder Notes</h1>
  <div class="text-center"> 
    
    <div class="form-group">
      <input class="form-control" id="publicSearch" type="text" title="publicSearch" ng-model="searchNotes" placeholder="Search all public Coder Notes" size="100%">
    </div>
    <!-- <button class="btn btn-link"><i class="fa fa-search"></i></button> -->
  </div>

  <h2 ng-if="searchNotes" class="text-center">Results for "{{searchNotes}}"</h2>
    <div class="list-group-item" ng-repeat="note in publicNotes | filter:searchNotes">
      <h3><a ui-sref="note({id: note._id})">{{note.subject}}</a></h3>
      <div>{{ note.body | trunc:true:200:'...'}}</div>
      <div><strong>Last updated</strong> {{note.dateCreated | date : 'longDate' }}</div>
    </div>
</div>