<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
			<div class="input-group" id="updateNotebook"> 
			<form>
			<input ng-model="shareEmail" type="text" class="form-control" placeholder="{{notebook.title}}">
			<span ng-click="updateNotebook(notebook)" class="btn btn-success" data-dismiss="modal">Save</span> 
			</form>
			</div>
		</div>
	</div>
</div>