body {
  font-family: 'Open Sans';
  width: 300px;
  color: white;
}

.footer a, .footer button {
  color: #A2A838;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;;
}

.footer a:hover, .footer button:hover {
  color: #626706;
}

label, b, strong {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #545454;
  text-shadow: 1px 1px #D3D3D3;
}

html {
  width: 300px;
}

.background {
  background-color: #f3f2f3;
}

.header {
  font-family: "Cutive Mono";
  font-size: 20px;
  color: #333333;
}

.saveNote {
  border-top: 1px solid #bfadbf;
  border-bottom: 1px solid #fff;
}

textarea {
  width: 100%;
  height: 140px;
  border: 0px;
  padding: 6px;
  font-family: "Open Sans";
}

input {
  width: 100%;
  border: 0px;
  padding: 6px;
font-family: "Open Sans";
}

button {
  border: 0px;
  padding: 10px;
  background-color: #785978;
  font-family: "Open Sans";
}

.form-group button {
  color: white;
}

.footer {
  padding-bottom: 20px;
  padding-right: 20px;
}

img.logo {
  margin: auto;
  width: 40px;
}

select {
  background-color: white;
  width: 100%;
  padding: 10px;
  border: solid white 1px;
}

