<div ng-cloak>
    <div flex="" layout="column" style="z-index:1" class="layout-column flex">
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Log In">
                <md-content class="md-padding">
                <h1 class="md-display-2">Existing Users: Log In</h1>
                <md-input-container class="md-block">
                    <input ng-model="login.email" type="email" placeholder="Email (required)" ng-required="true" minlength="9" maxlength="100" ng-pattern="/^.+@.+\..+$/" >
                </md-input-container>

                <md-input-container class="md-block">
                    <input ng-model="login.password" type="password" placeholder="Password (required)" ng-required="true" minlength="8" maxlength="20" >
                </md-input-container>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button class="md-raised md-primary">Log In</md-button>
                    <md-button class="md-raised">Reset Form</md-button>
                </section>
                </md-content>
            </md-tab>
            <md-tab label="Sign Up">
            <md-content class="md-padding">
              <h1 class="md-display-2">New Users: Sign Up</h1>
                <div layout="column" layout-padding ng-cloak>
                    <form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">
                    <br/>
                    <md-content class="md-no-momentum">

                        <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                            <label>First Name</label>
                            <input ng-model="user.firstName"  md-maxlength="40" required type="text">
                        </md-input-container>


                        <md-input-container class="md-block">
                            <label for="lastName">Last Name</label>
                            <input name="lastName" md-maxlength="40" required ng-model="user.lastName" />
                        </md-input-container>


                        <md-input-container class="md-block">
                            <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true" minlength="9" maxlength="100" ng-pattern="/^.+@.+\..+$/" >
                        </md-input-container>

                        <md-input-container class="md-block">
                            <input ng-model="user.password" type="password" placeholder="Password (required)" ng-required="true" minlength="8" maxlength="20" >
                        </md-input-container>

                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                            <md-button class="md-raised md-primary">Sign Up</md-button>
                            <md-button class="md-raised">Reset Form</md-button>
                        </section>
                    </md-content>
                    </form>
                </div>
            </md-content>
          </md-tab>

        </md-tabs>
      </md-content>
      </div>
</div> 