<input ng-model="searchNotes" width="20" type="text" class="form-control note-notebook-search" placeholder="Search Notes">
<div class="noresults muted" ng-if="filteredNotes.length == 0">No notes found!</div>
<div class="outer-scroll">
	<div class='list-group' id="side-menu-1">
		<a ng-class="{activenotebook: note._id == getCurrentNote()._id}" ng-click="setCurrentNote(note)"  class="list-group-item" ng-repeat="note in filteredNotes = (getnotes() | filter:searchNotes | filter: {trash: false} | orderBy: '-lastUpdate')">{{note.subject}}</a>
	</div>
</div>