<input ng-model="searchNotebooktitle" width="20" type="text" class="form-control note-notebook-search" placeholder="Search Notebooks">
<div class="noresults muted" ng-show="filteredNotebooks.length == 0">No notebooks found!</div>

<div class="outer-scroll">
	<div class="list-group" id="side-menu-2">   						
					
		<div ng-repeat="notebook in filteredNotebooks = (getCachedNotebooks() | filter:{title: searchNotebooktitle} | filter: {trash: false} | orderBy: '-date')">

			<a ng-class="{activenotebook: getCurrentNotebook()._id == notebook._id}" data-toggle="collapse" ng-href="#{{notebook._id}}" class="list-group-item clearfix" ng-click="setCurrentNotebook(notebook)"> {{notebook.title}} 

				<i data-toggle="modal" data-target="#trashNotebook{{notebook._id}}" data-toggle="tooltip" title="Trash notebook" class="fa fa-trash-o pull-right margin-left"></i> 
  		
				<i data-toggle="modal" data-target="#shareNotebook{{notebook._id}}" class="pull-right fa fa-share-alt"  data-toggle="tooltip" title="Share notebook"></i>

				<!-- <i data-toggle="modal" data-target="#editNotebook{{notebook._id}}" class="pull-right glyphicon glyphicon-cog"  data-toggle="tooltip" title="setting"></i> -->

		    </a>

			<div class="collapse" id="{{notebook._id}}">	
				<div class="panel-body inner-scroll">
					<div class="list-group">
						<a ng-click="setCurrentNote(oneNote,notebook)" class="list-group-item" ng-repeat="oneNote in notebook.notes| filter:{trash: false} | orderBy: '-lastUpdate'" >{{oneNote.subject}}
						</a>
					</div>
				</div>
			</div>

			<!-- Delete Popup -->
			<div class="trash-modal">
				<div id="trashNotebook{{notebook._id}}" class="modal fade" role="dialog">
					<deletenotebookmodal></deletenotebookmodal>
				</div>
			</div>

			<!-- Share Popup -->
			<div id="shareNotebook{{notebook._id}}" class="modal fade" role="dialog">
				<sharenotebookmodal></sharenotebookmodal>
			</div>


			<!-- Edit Notebook Popup (not yet working) -->
<!-- 		<div id="editNotebook{{notebook._id}}" class="modal fade" role="dialog">
				<editnotebookmodal></editnotebookmodal>
			</div> -->

		</div>
	</div>
</div>
