<input ng-model="searchSharedNotebooktitle" width="25" type="text" class="form-control" placeholder="Search Shared Notebooks">
<div class="noresults muted" ng-if="filteredSharedNotebooks.length === 0">No shared notebooks found!</div>
<div class="outer-scroll">
	<div class="list-group" id="side-menu-4">
		<div ng-repeat="sharednotebook in filteredSharedNotebooks = (sharednotebooks | filter:{title: searchSharedNotebooktitle} | filter: {trash: false})">
			<a data-toggle="collapse" ng-href="#{{sharednotebook._id}}" class="list-group-item">{{sharednotebook.title}}</a>
			<div class="panel-collapse collapse" id="{{sharednotebook._id}}">
				<div class="panel-body inner-scroll">
					<div class="list-group">
						<a ng-click="setCurrentNote(oneNote,sharednotebook)" class="list-group-item" ng-repeat="oneNote in sharednotebook.notes">{{oneNote.subject}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>