<div class="navbar-default sidebar" role="navigation" ng-controller="SidenavCtrl">


	<div class="sidebar-nav navbar-collapse">
		<div class="panel-body">
			<ul class="nav nav-pills">
				<li class="active"><a href="#notes-pills" data-toggle="tab">My Notes</a>
				</li>
				<li><a href="#notebooks-pills" data-toggle="tab">My Notebooks</a>
				</li>
				<li><a href="#tags-pills" data-toggle="tab">My Tags</a>
				</li>
				<li><a href="#shared-pills" data-toggle="tab">Shared Notebooks</a>
				</li>
			</ul>
		</div>
	<div class="tab-content">
		<div class="tab-pane fade active" id="notes-pills">
			<h4>My Notes</h4>
			<ul  id="side-menu-1">
				<li ng-repeat="note in notes">
					<a>{{note.subject}}</a>
				</li>
			</ul>
		</div>
		<div class="tab-pane fade" id="notebooks-pills">
			<h4>My Notebooks</h4>
			<ul  id="side-menu-2">
				<li ng-repeat="notebook in notebooks">
					<a>{{notebook.subject}}</a>
				</li>
			</ul>
		</div>
		<div class="tab-pane fade" id="tags-pills">
			<h4>My Tags</h4>
			<ul  id="side-menu-3">
<!-- 				<li ng-repeat="tag in tags">
					<a>{{tag}}</a>
				</li> -->
				<li>Lorem</li>
				<li>Ipsum</li>
				<li>Dolor</li>
			</ul>
		</div>
		<div class="tab-pane fade" id="shared-pills">
			<h4>My Shared Notebooks</h4>
			<ul  id="side-menu-4">
<!-- 				<li ng-repeat="tag in tags">
					<a>{{tag}}</a>
				</li> -->
				<li>Lorem</li>
				<li>Ipsum</li>
				<li>Dolor</li>
			</ul>
		</div>
	</div><!-- /.sidebar-collapse -->
</div><!-- /.navbar-static-side -->