<div class="col-sm-12" ng-class="{'col-lg-3 col-md-3': isSideNavOpen(), 'col-lg-1 col-md-1': !isSideNavOpen()}" ng-controller="SidenavCtrl">
	<div class="panel panel-default">
		<div class="panel-body">
					<table style="width:100%">
					  <tr>
					    <td>
					    	<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown">
										<button type="button" class="btn btn-success align-right"  data-toggle="tooltip" title="Add a notebook">
											<i class="fa fa-plus"> notebook
											</i>
										</button>
									</a>
									<ul class="dropdown-menu dropdown-messages">
										<li>
											<div class="input-group">
												<form ng-submit="newNotebook(notebookTitle)">
													<input id="notebook" type="text" ng-model="notebookTitle">
													<!-- <button class="btn btn-small btn-link" type="submit">+</button> -->
												</form>
												<span class="pull-right text-muted">
												</span>
											</div>
										</li>
									</ul> <!-- /.dropdown-messages -->
									<!-- <a ng-click="newNotebook()"></a> -->
								</div> <!-- /.dropdown -->
							</td>
							<td>
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-click="getNotebooks()">
										<button type="button" class="btn btn-success align-right"  data-toggle="tooltip" title="Add a note">
												<i class="fa fa-plus"> note
												</i>
										</button>
									</a>
									<ul class="dropdown-menu dropdown-messages">
										<div ng-repeat="notebook in notebooks">
										<li>
											<div>
												<a ng-click="newNote(notebook)">Add a note to {{notebook.title}}</a>
												<span class="pull-right text-muted">
												</span>
											</div>
										</li>
										<li class="divider"></li>
										</div>
									</ul> <!-- /.dropdown-messages -->
								</div> <!-- /.dropdown -->
					    </td> 
					  </tr>
					</table>
		</div> <!-- ./panel body outer -->
	</div> <!-- ./panel panel default outer -->				
	<div class="panel panel-default">
		<div class="panel-heading"><span ng-show="isSideNavOpen()">My Stuff</span>
			<div class="pull-right">
				<button type="button" width="50%" class="btn btn-default" data-toggle="tooltip" data-placement="right" ng-attr-title="isSideNavOpen() ? 'Hide Notes Navigator' : 'Show Notes Navigator'" ng-click="toggleSideNav()"><i class="glyphicon" ng-class="{'glyphicon-arrow-left' : isSideNavOpen(), 'glyphicon-arrow-right' : !isSideNavOpen()}"></i></button>
			</div>
		<div class="panel-body" ng-if="isSideNavOpen()">
			<ul class="nav nav-pills nav-justified nav-pills-sm">
				<li class="active"><a href="#notes" data-toggle="tab">Notes</a>
				</li>
				<li><a href="#notebooks" data-toggle="tab">Notebooks</a>
				</li>
				<li><a href="#tags" data-toggle="tab">Tags</a>
				</li>
				<li><a href="#shared" data-toggle="tab">Shared</a>
				</li>
				<li class="last"><a href="#trash" data-toggle="tab"><i class="fa fa-trash-o"></i></a>
				</li>
			</ul> <!-- ./nav -->
			<div class="tab-content" ng-if="isSideNavOpen()">
				<div class="tab-pane fade active" id="notes">
					<div class="panel panel-default">
						<div class="panel-heading">
								<input ng-model="searchNotes" width="25" type="text" class="form-control" placeholder="Search Notes">
						</div>
						<div class="panel-body outer-scroll">
							<div class='list-group' id="side-menu-1">
      							<a ng-click="setCurrentNote(note)"  class="list-group-item" ng-repeat="note in getnotes() | filter:searchNotes | filter: {trash: false}">{{note.subject}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="notebooks">
					<div class="panel panel-default">						
						<div class="panel-heading">
							<input ng-model="searchNotebooktitle" width="25" type="text" class="form-control" placeholder="Search Notebooks">
						</div>						
						<div class="panel-body outer-scroll">
							<div class="list-group" id="side-menu-2">   						
								<div ng-repeat="notebook in getCachedNotebooks() | filter:{title: searchNotebooktitle} | filter: {trash: false}">
									<!-- <div class="muted">Notebook ID:{{notebook._id}}</div> -->
									<a data-toggle="collapse" ng-href="#{{notebook._id}}" class="list-group-item" ng-click="setCurrentNotebook(notebook)"> {{notebook.title}} </a>
									<div class="panel-collapse collapse" id="{{notebook._id}}">
										<button ng-click="trashNotebook(notebook)" type="button" class="btn btn-danger"  data-toggle="tooltip" title="Trash notebook">Trash</button>
										<div class="panel-body inner-scroll">
											<div class="list-group">
												<a ng-click="setCurrentNote(oneNote,notebook)" class="list-group-item" ng-repeat="oneNote in notebook.notes| filter:{trash: false}" >{{oneNote.subject}}
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tags">
					<div class="panel panel-default">
						<div class="panel-heading">My Tags</div>
						<div class="panel-body outer-scroll">
							<div class="list-group" id="side-menu-3">
								<div ng-repeat="tag in getTagsCache()">
									<a ng-href="#{{tag.tag}}" data-toggle="collapse" class="list-group-item" ng-click="setTag(tag)">{{tag.tag}} : {{tag.count}} notes</a>
									<div class="panel-collapse collapse" id="{{tag.tag}}">
										<div class="panel-body inner-scroll">
											<div class="list-group">
												<a ng-click="setCurrentNote(note)" class="list-group-item" ng-repeat="note in getnotes() | filterByTag: currentTag: note">{{note.subject}}</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="shared">
					<div class="panel panel-default">
						<div class="panel-heading">
							<input ng-model="searchSharedNotebooktitle" width="25" type="text" class="form-control" placeholder="Search Shared Notebooks">
						</div>
						<div class="panel-body outer-scroll">
							<div class="list-group" id="side-menu-4">
								<div ng-repeat="sharednotebook in sharednotebooks | filter:{title: searchSharedNotebooktitle} | filter: {trash: false}">
									<a data-toggle="collapse" ng-href="#{{sharednotebook._id}}" class="list-group-item">{{sharednotebook.title}}</a>
									<div class="panel-collapse collapse" id="{{sharednotebook._id}}">
										<div class="panel-body inner-scroll">
											<div class="list-group">
												<a ng-click="setCurrentNote(oneNote,sharednotebook)" class="list-group-item" ng-repeat="oneNote in sharednotebook.notes">{{oneNote.subject}}
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="trash">
					<div class="panel panel-default">
						<div class="panel-heading">
							<input ng-model="searchNotebooks" width="25" type="text" class="form-control" placeholder="Search Notebooks in Trash">
						</div>
						<div class="panel-body trash-scroll">
							<div class="list-group" id="side-menu-5">
								<div ng-repeat="notebook in getCachedNotebooks() | filter:searchNotebooks | filter: {trash: true}" > <!-- check trash logic ? -->
									<!-- <div class="muted">Notebook ID:{{notebook._id}}</div> -->
									<a data-toggle="collapse" ng-href="#trash-{{notebook._id}}" class="list-group-item" ng-click="setCurrentNotebook(notebook)">{{notebook.title}}</a>

									<div class="panel-collapse collapse" id="trash-{{notebook._id}}">
										<button ng-click="deleteNotebook(notebook)" type="button" class="btn btn-danger"  data-toggle="tooltip" title="Delete notebook">delete</button>
										<button ng-click="restoreNotebook(notebook)" type="button" class="btn btn-success"  data-toggle="tooltip" title="restore notebook will also restore all notes in it">restore</button>

										<div class="panel-body inner-scroll">
											<div class="list-group">
												<a ng-click="setCurrentNote(oneNote,notebook)" class="list-group-item" ng-repeat="oneNote in notebook.notes">{{oneNote.subject}}
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<input ng-model="searchNotes" width="25" type="text" class="form-control" placeholder="Search Notes In Trash">

						</div>
							<div class="panel-body inner-scroll">
							<div class='list-group' id="side-menu-1">
									<a class="list-group-item" ng-repeat="note in getnotes() | filter: searchNotes | filter: {trash: true}" ng-click="setCurrentNote(note)">{{note.subject}}</a>
							</div>
						</div>
					</div>			
				</div>
			</div>
		</div> <!-- ./panel body outer -->
	</div> <!-- ./panel panel default outer -->
</div> 

