<!-- <div class="navbar-default sidebar" role="navigation" ng-controller="SidenavCtrl"> -->
<div class="col-lg-4 col-md-4 col-sm-12" ng-controller="SidenavCtrl">

	<div class="panel panel-default">
	<div class="panel-heading">My Stuff</div>
	<!-- <div class="sidebar-nav navbar-collapse"> -->
		<div class="panel-body">
			<ul class="nav nav-pills">
				<li class="active"><a href="#notes-pills" data-toggle="tab">Notes</a>
				</li>
				<li><a href="#notebooks-pills" data-toggle="tab">Notebooks</a>
				</li>
				<li><a href="#tags-pills" data-toggle="tab">Tags</a>
				</li>
				<li><a href="#shared-pills" data-toggle="tab">Shared Notebooks</a>
				</li>
			</ul>
		</div>
	<div class="tab-content">
		<div class="tab-pane fade active" id="notes-pills">
			<div class="panel panel-default">
				<div class="panel-heading">My Notes</div>
				<div class="panel-body">
					<ul id="side-menu-1">
						<li ng-repeat="note in notes">
							<a>{{note.subject}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="notebooks-pills">
			<div class="panel panel-default">
				<div class="panel-heading">My Notebooks</div>
				<div class="panel-body">
					<ul  id="side-menu-2">
						<li ng-repeat="notebook in notebooks">
							<a>{{notebook.title}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="tags-pills">
			<div class="panel panel-default">
			<div class="panel-heading">My Tags</div>
			<div class="panel-body">
				<ul  id="side-menu-3">
					<li ng-repeat="tag in tags">
						<a>{{tag}}</a>
					</li>
				</ul>
			</div>
			</div>
		</div>
		<div class="tab-pane fade" id="shared-pills">
			<div class="panel panel-default">
				<div class="panel-heading">My Shared Notebooks</div>
				<div class="panel-body">
					<ul id="side-menu-4">
						<!-- this needs to be changed to sharednotebook in sharednotebooks -->
						<li ng-repeat="notebook in notebooks">
							<a>{{notebook.title}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	<!-- </div>  -->
	<!-- /.sidebar-collapse -->
	</div> <!-- /.panel-default -->
</div> <!-- /.col-lg-4 -->
</div><!-- controller -->