/* additional theming for capstone */

/* gh dark blue: #003a69 */

/* gh yellow: f0d600 */

panel-gh>.panel-heading {
    color: #fff;
    background-color: #003a69;
    border-color: #003a69;
}

.sidebar {
	margin-top: 0 !important;
}

.nav-pills-sm {
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-bottom: 1em;
	li {
		border-right: 1px solid #ddd;
		&.last {
			border-right: none;
		}		
		a {
		padding: 6px 9px;
		font-size: 95%;
		border-radius: 0px;
		}
	}
}
