/* additional theming for capstone */

/* gh dark blue: #003a69 */

/* gh yellow: f0d600 */

panel-gh>.panel-heading {
    color: #fff;
    background-color: #003a69;
    border-color: #003a69;
}

.sidebar {
	margin-top: 0 !important;
}