

/*

LIGHTER COLOR SCHEME:

PURPLE:
ultralight: D3C2D9	
light: 8B639D
base: 5D2971
dark: 330645
ultradark: 120019

YELLOW:
ultralight: FDFEE3
light: E5EA8F
base: A2A838
dark: 626706
ultradarK: 242500

*/

a {
	color: #330645;
	&:hover {
		text-decoration: underline;
	}
}


.sidebar {
	margin-top: 0 !important;
}

.iiMdPreview textarea {
	/* this copies bootstrap form-control class */
    display: block;
    width: 100%;
    /*padding: .375rem .75rem;*/
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /*border-radius: .25rem;*/
}
.muted,
a.muted {
	color: #bcbcbc;
}


.panel-footer {
	.input-group {
		width: 20%;
	}
	.input-group-addon {
		cursor: pointer;
	}
	i.glyphicon {
		color: red;
	}
	.tiny {
		font-size: 1%;
	}
	.nav-pills li {
	    color: #003a69;
	    cursor: pointer;
	    background-color: #fff;
	    /*border: 1px solid #888;*/
	    /*border-radius: 4px;*/
	    display: block;
	    position: relative;
	    padding: 5px 7px;
	    &:hover,
	    &:active {
	    	background-color: #003a69; /* #555 */
	    	color: #f0d600; /* #fff */
	    }
	}
}


/* code formatting in Note Preview */

code {
	white-space: pre-line;
}

/* hover cursor pointer */

.list-group a:hover,
.dropdown-menu div li:hover,
.dropdown-menu div li div a:hover {
	cursor:pointer;
}

/* delete buttons */
i.glyphicon-minus-sign {
	color: red;
	margin-left: 1em
}

.tab-content span.muted {
	margin: 0.5em;
	padding: 0.5em;
}

/* delete confirmation popup window */

#delete-notebook-confirmation {
	h4 {
		display: inline-block;
		margin-right: 2em;
	}
}

input#notebook {
	margin-bottom: 0.5em;
}

/* top navbar */

nav.navbar .btn-invisible {
	border: none;
	background-color: transparent;
}

nav.navbar {
	margin-bottom: 0;
	/*border-bottom: 1px solid #003a69;*/
}
.navbar-top-links li {
	display: inline-block !important;
}

.navbar input {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a.navbar-brand {
	font-family: 'Courier New', Courier, Monospace, sans-serif;
	font-size: 28px;
	margin-left: 50px;
}

.navbar-custom {
	padding: 5px 0px 0px 0px !important;
}

body,
#sidenav,
.navbar-custom {
	background-color: #f3f2f3!important; 
}

/* bootstrap columns */

@for $i from 1 through 12 {
    .col-lg-#{$i},
    .col-md-#{$i},
    .col-sm-#{$i} {
		padding-left: 0 !important;
		padding-right: 0 !important;    
	}
}


button {
	cursor:pointer;
	color: #454545;
	&:hover {
		color: #787878;
	}
}

.code-instructions {
	color: #787878;
	font-size: 14px;
}

@import 'sidenav';



#login  {
	margin-right: 50px;
	margin-top: 10px;
}

#login  a {
	border: none;
	background-color: transparent;
	font-size: 16px;
	font-weight: bold;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#log-form {
	background-color: #f3f2f3;
	border: #f3f2f3 !important;
	margin-top: 100px;
}

#log-form button {
    background-color: transparent;
    border-radius: 5px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    &:hover {
        background-color: #dddddd;
    }
}

#log-form a {
	margin-left: 10px;
}

#social-buttons {
	margin-bottom: 20px;
}

#signup-form {
	margin-top: 100px;
}

#signup-form button {
    background-color: transparent;
    border-radius: 5px;
    margin-left: 15px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    &:hover {
        background-color: #dddddd;
    }
}

#signup-form a {
	margin-left: 10px;
}


