* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'startbootstrap/main';
@import 'capstone';
@import 'grayscale';
@import 'bootswatch/yeti';

.fa-remove {
	color: #785978;
}