* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


.tab-content .panel-body {
	height: 100% !important;
	overflow: auto !important;
}

/*#main {
  padding-top: 60px;
  margin: 0 auto;
}*/

/*@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
*/
@import 'startbootstrap/main';
@import 'capstone';
